@page
@model FarmFreshMarket_201457F.Pages.ForgetPasswordModel
@{
}



<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Reset Password </h1>
			@if (@Model.EmailSent == true)
			{
				<div class="alert alert-success" role="alert">
					<p >We have sent an email on your registered email</p>
				</div>
				<div>
					<p>Return<a asp-page="Login"> Login</a></p>
				</div>
			}
			else
			{
				<form method="post" >
				<div asp-validation-summary="All" class="text-danger"></div>
				
				<div class="mb-3">
					<label class="form-label" asp-for="ForgetModel.Email">Email Address</label>
					<input type="Text" asp-for="ForgetModel.Email" class="form-control" />
					<span asp-validation-for="ForgetModel.Email" class="text-danger"></span>
				</div>

				
				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Send Email Confirmation</button>
				</div>
				
			</form>
			<div>
				<p>Return?<a asp-page="Login"> Login</a></p>
			</div>
			}

			
			
		</div>
	</div>
</div>
